html, body {margin:0; padding:0; background-color:#fffdf0; font-family:Arial, Helvetica, sans-serif; color:#333; font-weight:normal; text-decoration:none;}
form {border:0; margin:0; padding:0;}
#wrapper{width:1014px; margin:0 auto; height:auto; overflow:auto; background:url(../images/wrapper-bg.gif) repeat-y;}
#header{float:left; width:1014px; height:187px; background:url(../images/header-bg.gif) no-repeat left top;}
#primary-header{float:left; width:962px; height:70px; margin:0 26px 0 26px}
.logo{ float:left; width:160px; background:url(../images/leaveAGift-logo.gif) no-repeat left top; height:auto; margin:10px 0 0 20px; padding:0 0 0 50px; font-family:Arial, Helvetica, sans-serif; font-size:26px; font-weight:bold; color:#3fa203}
.gift-purple{color:#990eb5}
.tagline{ font-size:12px; text-indent:160px; color:#93969d}
.navigation{float:left; width:380px; height:auto; margin:30px 0 0 110px;}
.nav-button{float:left; padding:0 15px 0 15px; font-size:14px; font-weight:bold; color:#3fa203; text-align:center}
.nav-button a{color:#3fa203; text-decoration:none}
.nav-button a:hover{color:#990eb5; text-decoration:none}








.userlogin{ float:right; width:160px; margin:10px 20px 0 0}
.user{float:left; font-size:12px; font-weight:normal; color:#333; text-align:right; padding:0 20px 0 0}
.user a{color:#990eb5; text-decoration:none}
.user a:hover{color:#3fa203;}
.user-fb-pic{float:right; width:50px; height:50px;}

#secondary-header{float:left; width:962px; height:117px; margin:0 26px 0 26px;}
.fb-friend-pic{float:left; margin:12px 20px 0 30px; width:75px;}
.title{ float:left; margin:25px 10px 0 0;}
h1{ font-size:28px; color:#3fa203; margin:0; padding:0}
.gift-steps{ float:right; margin:33px 20px 0 0; font-size:12px; font-weight:bold; color:#9f9f9f}
.gift-step-selected{ color:#990eb5}








#content{ float:left; padding:5px 0 0 0; width:902px; margin:0 26px 0 26px; padding: 0 30px 0 30px;}
#fb-butons{ float:left; width:902px; margin:0; padding:0}
.fb-events {float:left; font-size:16px; font-weight:bold; color:#3fa203}
.fb-events a{color:#979797; text-decoration:none}
.fb-events a:hover{color:#3fa203}
.fb-search{float:right; width:300px;}


.textbox{ border:#317f01 1px solid;}


input{ font-size:12px; color:#333; margin:2px; padding:5px;}


.fb-friends-list{ float:left; width:902px; margin:20px 0 0 0; padding:0;}
.fb-friend-frame{ position:relative; float:left; width:160px; height:200px; overflow:auto; text-align:center; margin:0 20px 0 0;}
.fb-friend-photo{ text-align:center; margin:0 0 10px 0; height:80%; z-index:0;}
.fb-friend-name{ font-size:12px; color:#814c09; text-align:center; height:auto; overflow:auto;}
.calendar {
	position:absolute;
	left:130px;
	top:100px;
	background:url(../images/calendar.gif) no-repeat #fff;
	width:24px;
	height:16px;
	padding:9px 0 0 0;
	font-size:9px;
	text-align:center;
	color:#333;
	z-index:1;
	
}

.cake {
	position:absolute;
	left:20px;
	top:135px;
	background:url(../images/cake.gif) no-repeat 50% 50% #fff;
	width:22px;
	height:20px;
	padding:0;
	text-align:center;
	border:#FFF 1px solid;
	z-index:2;
	
}

#footer{width:1014px; margin:0 auto; height:auto; background:url(../images/footer-bg.gif) no-repeat; clear:both; padding:80px 0 50px 0; text-align:center; font-size:12px; color:#333}

#footer a{text-decoration:none; color:#333}
#footer a:hover{text-decoration:underline;}
