@charset "utf-8";
/* welcome */

:focus{outline:none; border:none;}
html, body {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; color:#333; font-weight:normal; text-decoration:none;}
.wrapper {width:717px; margin:auto; background:url(https://www.leaveagift.com/images/footer_bg.png) no-repeat bottom; height:auto; overflow:auto;}
.header{position:relative; height:72px; background:url(https://www.leaveagift.com/images/header_bg.png) no-repeat center top;}
.logo{width:196px; height:48px; float:left; margin:0 30px;}
.follow_us_container {width:110px; height:30px; float:right; margin:8px 0px;}
.follow_us_icons {width:80px; height:30px; float:right; margin:8px 15px;}
.clear {clear:both; height:20px;}
.body_container{width:440px; float:left; line-height:25px; font-size:13px; color:#747474; padding-left:20px; text-align:left; margin-bottom:30px;}
.body_container a{text-decoration:underline; color:#990eb5;}
.body_container a:hover{text-decoration:none; color:#990eb5;}
.body_container h1 {font-size:18px; font-weight:bold; margin:0px; color:#3fa203;}
.card_container {width:220px; float:right; padding-right:20px; text-align:right}
.body_container h2{ font-size:11px; font-style:normal; font-weight:normal;}

/* reciever */


.body_container_reciver{width:670px; float:left; line-height:25px; font-size:13px; color:#747474; padding-left:20px; text-align:left; margin-bottom:30px;}
.body_container_reciver a{text-decoration:underline; color:#990eb5;}
.body_container_reciver a:hover{text-decoration:none; color:#990eb5;}
.body_container_reciver h1 {font-size:18px; font-weight:bold; margin:0px; color:#3fa203;}
.body_container_reciver h2{ font-size:11px; font-style:normal; font-weight:normal;}
.body_container_reciver span {color:#fd9702; font-weight:bold;}

